/*
  1. font styles
  2. global styles
  3. navbar custom
  4. hero banner
  5. section
  6. utils
  7. mailing-form
  8. menu-card
  9. mc-btn
  10. footer
  11. product-card
*/

/*=============================
    1. font styles
===============================*/
@font-face {
  font-family: PTSerif;
  src: url(../fonts/PTSerif.ttc);
}

h1, h2 , h3 , h4 {
  font-family: PTSerif, Times, serif;
}

p {
  font-family: PTSerif, Times, serif;
  font-weight: 100;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*=============================
    2. global styles
===============================*/
body {
  background-color: white;
  font-family: PTSerif, Times, serif;
  padding-top: 60px;
}

body > .page-container {
  padding: 0px 15px 0 0;
  min-height: 700px;
  animation: fadein .5s;
  -moz-animation: fadein .5s; /* Firefox */
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -o-animation: fadein .5s; /* Opera */
}

@media only screen and (max-width: 767px) {
  .page-container {
    padding: 15px;
  }
}

input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*=============================
    3. navbar custom
===============================*/
.navbar-default {
  background-color: white;
  margin-bottom: 0;
}

.navbar-default > .container-fluid {
  padding: 5px 20px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.7;
}

/*=============================
    4. hero banner
===============================*/
.hero-banner {
  background-size: cover;
  display: table;
  width: 100%;
  padding: 120px;
  background-size: 100%;
}

.hero-banner > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.hero-banner > div > .button, .section .button {
  display: block;
  margin: 50px auto;
}

.hero-banner > div > div {
  margin-bottom: 60px;
}

.hero-banner > div > div > * {
  margin-bottom: 40px;
}

.hero-banner > div > div:last-child {
  margin-bottom: 0;
}

.hero-banner h1 {
  font-size: 40px;
}

.main-banner-bg {
  background: url(../images/chef-in-home.jpg) bottom center no-repeat scroll;
  height: 700px;
}

.about-us-bg {
  background: url(../images/chef-slicing.jpg) center center no-repeat scroll;
}

.unleash-creativity-bg {
  background: url(../images/knives-flatlay.jpg) center center no-repeat scroll;
}

.menu-listing-bg {
  background: url(../images/ingredients.jpg) center center no-repeat scroll;
  height: 500px;
}

p.bigger {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .hero-banner {
    padding: 0 15px;
    background-size: auto;
  }

  .hero-banner h1 {
    font-size: 30px;
  }

  .main-banner-bg {
    height: 500px;
  }

  .unleash-creativity-bg {
    height: 500px;
  }
}

/*=============================
    5. section
===============================*/
.section {
  text-align: center;
  padding: 40px 120px;
}

@media only screen and (max-width: 767px) {
  .section {
    padding: 20px 15px;
  }
}

.section > h1 {
  margin-bottom: 30px;
}

/*=============================
    6. utils
===============================*/
.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.mTop20 {
  margin-top: 20px;
}

.mBottom20 {
  margin-bottom: 20px;
}

.mBottom40 {
  margin-bottom: 40px;
}

/*=============================
    7. mailing-form
===============================*/
.inline-form > * {
  display: inline-block;
  height: 40px;
}

.inline-form input {
  margin: 20px auto;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-form button {
  background-color: black;
  border: none;
  color: white;
  padding: 0 15px;
}

.inline-form button:hover {
  opacity: 0.8;
}

/*=============================
    8. menu-card
===============================*/
.menu-card {
  position: relative;
  cursor: pointer;
}

.menu-card > img {
  position: relative;
  width: 100%;
}

.menu-card:hover > .menu-hover-card {
  opacity: 1;
}

.menu-card > .menu-hover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 30px;
  transition: all .3s ease 0s;
  opacity: 0;
}

a.menu-hover-card {
  text-decoration: none;
  color: inherit;
}

.menu-hover-card > div {
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.menu-hover-card > div > * {
  margin-bottom: 10px
}

.menu-hover-card > div > *:last-child {
  margin-bottom: 0;
}

.menu-chef-details .date {
  font-size: 12px;
}

.menu-chef-details img {
  border-radius: 50%;
  width: 70px;
}

.menu-chef-details .name {
  font-size: 14px;
}

.menu-chef-details .name::after {
  display: block;
  border: 1px solid #ccc;
  margin: 10px auto -10px auto;
  width: 30px;
  content: '';
}

.menu-chef-details .menu-name {
  font-size: 16px;
  font-weight: bold;
}

.menu-chef-details .glyphicon {
  font-size: 24px;
  color: inherit;
}

.menu-chef-details > *:hover {
  text-decoration: none;
}

/*=============================
    9. mc-btn
===============================*/
a.mc-btn {
  text-transform: uppercase;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.white-btn {
  background-color: white;
  color: black;
}

.white-btn:hover {
  color: #999;
}

.black-btn {
  background-color: black;
  color: white;
}

.white-btn:hover {
  color: #ccc;
}

/*=============================
    10. footer
===============================*/
footer {
  display: block;
  border-top: 1px solid #ccc;
}

footer > div {
  display: block;
  padding: 20px 120px;
}

footer > div:last-child {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

footer > div:last-child > p:first-child {
  display: inline-block;
  float: left;
}

footer > div:last-child > p:last-child {
  display: inline-block;
  float: right;
  text-align: right;
}

footer > div > * {
  margin-bottom: 20px;
  display: block;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  footer > div {
    padding: 20px 15px;
  }

  footer > div:last-child > p:first-child, footer > div:last-child > p:last-child {
    display: block;
    float: none;
    text-align: center;
  }

  footer ul li {
    display: block;
    margin-right: 0;
  }
}

footer ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
}

footer ul li:last-child {
  margin-right: 0;
}

/*=============================
    11. product-card
===============================*/
.product-card {
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  color: black;
  cursor: pointer;
}

a.product-card {
  text-decoration: none;
}

.product-card .image img {
  width: 100%;
  margin-bottom: 10px;
}

.product-card .title {
  font-size: 20px;
}

.product-card .price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .location {
  font-size: 12px;
}

.product-card .date {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}


/*=============================
    12. content-container
===============================*/
.content-container {
  max-width: 1200px;
  padding: 20px;
}
