/*
  1. font styles
  2. global styles
  3. navbar custom
  4. hero banner
  5. section
  6. utils
  7. mailing-form
  8. menu-card
  9. mc-btn
  10. footer
  11. product-card
  12. content-container
  13. menu details
  14. profile-header
  15. profile-sidebar
  16. profile-table
  17. order-card
*/

/*=============================
    1. font styles
===============================*/
@font-face {
  font-family: PTSerif;
  src: url(../fonts/PTSerif.ttc);
}

h1, h2 , h3 , h4 {
  font-family: PTSerif, Times, serif;
}

p {
  font-family: PTSerif, Times, serif;
  font-weight: 100;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*=============================
    2. global styles
===============================*/
body {
  background-color: white;
  font-family: PTSerif, Times, serif;
  padding-top: 60px;
}

body > .page-container {
  padding: 0px 15px 0 0;
  min-height: 700px;
  animation: fadein .5s;
  -moz-animation: fadein .5s; /* Firefox */
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -o-animation: fadein .5s; /* Opera */
}

@media only screen and (max-width: 767px) {
  .page-container {
    padding: 15px;
  }
}

input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/*=============================
    3. navbar custom
===============================*/
.navbar-default {
  background-color: white;
  margin-bottom: 0;
}

.navbar-default > .container-fluid {
  padding: 5px 20px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.7;
}

/*=============================
    4. hero banner
===============================*/
.hero-banner {
  background-size: cover;
  display: table;
  width: 100%;
  padding: 120px;
  background-size: 100%;
  background-color: black;
}

.hero-banner > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.hero-banner > div > .button, .section .button {
  display: block;
  margin: 50px auto;
}

.hero-banner > div > div {
  margin-bottom: 60px;
}

.hero-banner > div > div > * {
  margin-bottom: 40px;
}

.hero-banner > div > div:last-child {
  margin-bottom: 0;
}

.hero-banner h1 {
  font-size: 40px;
}

.main-banner-bg {
  background: url(../images/chef-in-home.jpg) bottom center no-repeat scroll;
  height: 700px;
}

.about-us-bg {
  background: url(../images/chef-slicing.jpg) center center no-repeat scroll;
}

.unleash-creativity-bg {
  background: url(../images/knives-flatlay.jpg) center center no-repeat scroll;
}

.menu-listing-bg {
  background: url(../images/ingredients.jpg) center center no-repeat scroll;
  height: 500px;
}

.chef-main-banner-bg {
  background: url(../images/kitchen.jpg) center center no-repeat scroll;
  height: 700px;
}

@media only screen and (max-width: 767px) {
  .hero-banner {
    padding: 0 15px;
    background-size: auto;
  }

  .hero-banner h1 {
    font-size: 30px;
  }

  .main-banner-bg {
    height: 500px;
  }

  .unleash-creativity-bg {
    height: 500px;
  }
}

/*=============================
    5. section
===============================*/
.section {
  text-align: center;
  padding: 40px 120px;
}

@media only screen and (max-width: 767px) {
  .section {
    padding: 20px 15px;
  }
}

.section > h1 {
  margin-bottom: 30px;
}

/*=============================
    6. utils
===============================*/
.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.mTop20 {
  margin-top: 20px;
}

.mBottom0 {
  margin-bottom: 0;
}

.mBottom20 {
  margin-bottom: 20px;
}

.mBottom40 {
  margin-bottom: 40px;
}

.strong {
  font-weight: bold;
}

hr.thick {
  border-top: 4px solid black;
}

.text-right {
  text-align: right;
}

hr {
  border-color: #ddd;
}

@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}

/*=============================
    7. mailing-form
===============================*/
.inline-form > * {
  display: inline-block;
  height: 40px;
}

.inline-form input {
  margin: 20px auto;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-form button {
  background-color: black;
  border: none;
  color: white;
  padding: 0 15px;
}

.inline-form button:hover {
  opacity: 0.8;
}

/*=============================
    8. menu-card
===============================*/
.menu-card {
  position: relative;
  cursor: pointer;
}

.menu-card > img {
  position: relative;
  width: 100%;
}

.menu-card:hover > .menu-hover-card {
  opacity: 1;
}

.menu-card > .menu-hover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 30px;
  transition: all .3s ease 0s;
  opacity: 0;
}

a.menu-hover-card {
  text-decoration: none;
  color: inherit;
}

.menu-hover-card > div {
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.menu-hover-card > div > * {
  margin-bottom: 10px
}

.menu-hover-card > div > *:last-child {
  margin-bottom: 0;
}

.menu-chef-details .date {
  font-size: 12px;
}

.menu-chef-details img {
  border-radius: 50%;
  width: 70px;
}

.menu-chef-details .name {
  font-size: 14px;
}

.menu-chef-details .name::after {
  display: block;
  border: 1px solid #ccc;
  margin: 10px auto -10px auto;
  width: 30px;
  content: '';
}

.menu-chef-details .menu-name {
  font-size: 16px;
  font-weight: bold;
}

.menu-chef-details .glyphicon {
  font-size: 24px;
  color: inherit;
}

.menu-chef-details > *:hover {
  text-decoration: none;
}

/*=============================
    9. mc-btn
===============================*/
button.mc-btn {
  text-transform: uppercase;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

button.btn, a.btn {
  border-radius: 0;
}

button.btn:hover, a.btn:hover {
  color: white;
  opacity: 0.8;
}

a.mc-btn {
  text-transform: uppercase;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  display: inline-block;
}

a.white-btn {
  background-color: white;
  color: black;
}

a.white-btn:hover {
  background-color: #eee;
}

a.black-btn {
  background-color: black;
  color: white;
}

a.black-btn:hover {
  opacity: 0.9;
}

/*=============================
    10. footer
===============================*/
footer {
  display: block;
  border-top: 1px solid #ccc;
}

footer > div {
  display: block;
  padding: 20px 120px;
}

footer > div:last-child {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

footer > div:last-child > p:first-child {
  display: inline-block;
  float: left;
}

footer > div:last-child > p:last-child {
  display: inline-block;
  float: right;
  text-align: right;
}

footer > div > * {
  margin-bottom: 20px;
  display: block;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 40px;
}

@media only screen and (max-width: 767px) {
  footer > div {
    padding: 20px 15px;
  }

  footer > div:last-child > p:first-child, footer > div:last-child > p:last-child {
    display: block;
    float: none;
    text-align: center;
  }

  footer ul li {
    display: block;
    margin-right: 0;
  }
}

footer ul li a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
}

footer ul li:last-child {
  margin-right: 0;
}

/*=============================
    11. product-card
===============================*/
.product-card {
  display: block;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.product-card .image img {
  width: 100%;
  margin-bottom: 10px;
}

.product-card a.title {
  font-size: 20px;
  color: black;
}

.product-card .price {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .location {
  font-size: 12px;
  margin-bottom: 10px;
}

.product-card .date {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.product-card hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chef {
  display: table;
}

.chef > * {
  display: table-cell;
  vertical-align: middle;
}

.chef > img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
}

/*=============================
    12. content-container
===============================*/
.content-container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

/*=============================
    13. menu-details
===============================*/
.menu-details {
  display: block;
  border: 1px solid #ccc;
  padding: 20px;
}

.menu-details > .image > img {
  width: 100%;
  margin-bottom: 20px;
}

.menu-details > .content {
  text-align: center;
}

.menu-details > .content > div {
  margin-bottom: 20px;
}

.menu-details > .content > div::after {
  content: '';
  display: block;
  width: 30px;
  border: 1px solid #ccc;
  margin: 20px auto;
}

.menu-details > .content > div:last-child {
  margin-bottom: 0;
}

.menu-details > .content > div:last-child::after {
  display: none;
}

.menu-details h4 {
  font-weight: bold;
}

/*=============================
    14. chef-details
===============================*/
.chef-details > * {
  margin-bottom: 20px;
}

.chef-details img {
  border-radius: 50%;
}

.chef-details h4 {
  font-weight: bold;
}

/*=============================
    15. tags
===============================*/

.tags {
  margin-bottom: 20px;
}

.tags > a {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 15px;
  border: 1px solid black;
  color: inherit;
  cursor: pointer;
}

.tags > a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  transition: all .3s ease 0s;
}

.tags > a:last-child {
  margin-right: 0;
}

/*=============================
    14. profile-header
===============================*/
.profile-header {
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-bottom: 30px;
}

/*=============================
    15. profile-sidebar
===============================*/
ul.profile-sidebar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.profile-sidebar li {
  margin-bottom: 15px;
}

ul.profile-sidebar li a {
  color: inherit;
  font-size: 16px;
}

ul.profile-sidebar li.active {
  font-weight: bold;
}

ul.profile-sidebar li a:hover {
  opacity: 0.8;
}

/*=============================
    16. profile-table
===============================*/
table.profile-table > tbody > form {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

table.profile-table > tbody > tr > td {
  border-top: none;
}

table.profile-table > tbody > tr > td:first-child {
  font-weight: bolder;
}

.history-table.table>tbody>tr>td,
.history-table.table>tfoot>tr>td,
.history-table.table>tfoot>tr>th,
.history-table.table>thead>tr>td,
.history-table.table>thead>tr>th {
  padding: 20px 8px;
  cursor: pointer;
}

/*=============================
    17. order-card
===============================*/
.order-card {
  border: 1px solid #ddd;
  padding: 30px;
}

.order-card > * {
  margin-bottom: 20px;
}

.order-card > *:last-child {
  margin-bottom: 0;
}

.order-card > h4 {
  margin-bottom: 30px;
}

.order-card > .menu {
  display: block;
  width: 100%;
}

.order-card .price {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.order-card > .button {
  text-align: center;
  display: block;
  margin-bottom: 0;
}

.order-card .table>tbody>tr>td,
.order-card .table>tbody>tr>th,
.order-card .table>tfoot>tr>td,
.order-card .table>tfoot>tr>th,
.order-card .table>thead>tr>td,
.order-card .table>thead>tr>th {
  border-top: none;
}

.order-card table > tbody > tr > td:first-child {
  font-weight: bolder;
}

.menu-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-weight: bold;
}
