
<div class="modal fade" id="registerOption" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Registered Yet?</h2>
      </div>
      <div class="modal-body">
        <a class="facebook-btn">
          <img src="images/facebookIcon.svg" width="20"/>
          <div class="text">Login with Facebook</div>
        </a>
        <p class="text-center">OR</p>
        <a class="btn black-btn btn-block" data-dismiss="modal" data-toggle="modal" data-target="#signupModal">Sign up with email</a>
        <hr/>
        <p class="text-center small">By signing up, I agree to minichef T&C & Privacy Policy</p>
        <hr/>
        <p class="strong text-center">Have an account with minichef?</p>
        <a class="btn black-btn btn-block" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log in</a>
      </div>
    </div>
  </div>
</div>
