<div class="hero-banner catering-main-banner-bg">
	<div class="wow fadeInUp">
		<h1>Get Started</h1>
		<p class="lead">Are you culinary trained or have experience working in a kitchen?<br/>You are the right one we are looking for!</p>
	</div>
</div><!-- END main-banner-bg -->

<div class="section wow fadeInUp catering">
	<h1>Gallery</h1>
  <p>We are glad to have served delighted guest for the past events, take a peak at our journey and moments.</p>
  <div class="mTop30"></div>
	<div class="row">
		<div class="col-sm-6">
			<img src="{{imgPath}}/chef/1.png" class="img-responsive" width="100%">
		</div>
		<div class="col-sm-6">
			<img src="{{imgPath}}/chef/2.png" class="img-responsive" width="100%">
		</div>
	</div>
  <div class="mTop30"></div>
  <div class="row">
    <div class="col-sm-6">
      <img src="{{imgPath}}/chef/3.png" class="img-responsive" width="100%">
    </div>
    <div class="col-sm-6">
      <img src="{{imgPath}}/chef/4.png" class="img-responsive" width="100%">
    </div>
  </div>


</div><!-- END how it works -->

<div class="section wow fadeInUp clients">
  <h1>Our Clients</h1>
	<div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1"><img src="{{imgPath}}/clients/aon.jpg" class="img-responsive"></div>
        <div class="col-md-2"><img src="{{imgPath}}/clients/ey.jpg" class="img-responsive"></div>
        <div class="col-md-2"><img src="{{imgPath}}/clients/mizuho.jpg" class="img-responsive"></div>
        <div class="col-md-2"><img src="{{imgPath}}/clients/pnp.jpg" class="img-responsive"></div>
        <div class="col-md-2"><img src="{{imgPath}}/clients/safra.jpg" class="img-responsive"></div>
    </div>
	</div>
  <p class="mTop40">Contact us at hello@minichef.co or call +65 9722 3355 for more enquiry </p>
</div><!-- END gallery -->
