<div class="content-container checkout-content">
  <div class="profile-header">
    <h1>Checkout</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 checkout-reservation">
      <h4>Your Reservation</h4>
      <div class="order-card no-side-border">
        <div class="menu">
          <div class="row">
            <div class="col-sm-4">
              <img src="{{imgPath}}/food.jpg" class="img-responsive">
            </div>
            <div class="col-sm-8">
              <p class="strong">Cest La Vie, 3 Course Meal</p>
              <table class="table table-condensed mBottom0">
                <tr>
                  <td>Time slot:</td>
                  <td>20 May 2017, 1130pm, Thu</td>
                </tr>
                <tr>
                  <td>Guest</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>Singapore, Yishun</td>
                </tr>
              </table>
            </div>
          </div>
        </div><!-- END of menu -->
        <div class="price">
          <div class="row">
            <div class="col-md-4 hide-mobile"></div>
            <div class="col-md-8 col-sm-12">
              <table class="table table-condensed mBottom0">
                <tr>
                  <td>Menu:</td>
                  <td class="text-right">$320.00</td>
                </tr>
                <tr>
                  <td>minichef Service Fee:</td>
                  <td class="text-right">$48</td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td class="text-right">$368.00</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div><!-- ./ order-card -->
    </div><!-- END col-sm-6 -->

    <div class="col-sm-6 checkout-payment">
      <h4>Payment Type</h4>
      <form>
        <div class="form-group">
          <label>Name on card</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Card Number</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <label>MM</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-3">
              <label>YY</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <label>CVV</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Save card details for future purchases</label>
        </div>
        <div class="divider">OR</div>
        <a class="paypal-btn">
          <img src="{{imgPath}}/paypal.svg" width="80"/>
        </a>
        <p class="strong">We accept:</p>
        <img class="payment-icon" src="{{imgPath}}/paypal.svg"/>
        <img class="payment-icon" src="{{imgPath}}/visa.svg" />
        <img class="payment-icon" src="{{imgPath}}/amex.svg" />
        <img class="payment-icon" src="{{imgPath}}/mastercard.svg" />

        <a href="#confirmation" class="mTop40 mc-btn black-btn btn-block mBottom0">Make Reservation</a>

      </form>
    </div><!-- END col-sm-6 -->

  </div><!-- END row -->
</div><!-- END content-container -->
