<div class="hero-banner chef-main-banner-bg">
	<div>
		<h1>Get Started</h1>
		<p class="lead">Are you culinary trained or have experience working in a kitchen?<br/>You are the right one we are looking for!</p>
	</div>
</div><!-- END main-banner-bg -->

<div class="section">
	<h1>Benefits of joining minichef</h1>
	<div class="row">
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/1.png">
			<h3>Start your home based business</h3>
			<p>Transform your home kitchen into a digital restaurant, and start cooking your signature meals for customers.</p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/2.png">
			<h3>Express your creativity</h3>
			<p>Have many fancy ideas of recipes that you would love to share with everyone? We want you to showcase your ideas on our platform for people to try your dishes!</p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/3.png">
			<h3>Flexible working hours</h3>
			<p>Working long hours in restaurant kitchen? minichef allows you to plan and have a more flexible working hours based on your schedule. </p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/4.png">
			<h3>Mangement tools</h3>
			<p>minichef's easy-to-use management tools helps manage your orders, deliveries and payments. </p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/5.png">
			<h3>Photography advice and support</h3>
			<p>Some of you might not have experience with photography, fear not, we provide photography tips and support for great visual representation of your dishes</p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/chef/6.png">
			<h3>Earn profits with passion</h3>
			<p>We want you to focus on your passion of cooking and R&Ds while we help you out with marketing and bringing the customers to you.</p>
		</div>
	</div>
</div><!-- END how it works -->

<div class="hero-banner">
	<div>
		<h1 class="mBottom40">Let’s cook for someone today!</h1>
		<a class="mc-btn white-btn">Apply Here</a>
	</div>
</div><!-- END about-us-bg -->
