<div class="hero-banner main-banner-bg">
	<div>
		<h1>A unique home dining experience</h1>
		<p class="lead">Dine with your group of friends while being hosted in a professional chef's home</p>
	</div>
</div>

<div class="section">
	<h1>How it works</h1>
	<div class="row">
		<div class="col-sm-4">
			<img src="{{imgPath}}/browse-menus.png">
			<h3>Browse menus</h3>
			<p>Explore menus crafted by professional chefs</p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/book-seats.png">
			<h3>Reserve your seats</h3>
			<p>Gather your friends and make a reservation by selecting the available time and date</p>
		</div>
		<div class="col-sm-4">
			<img src="{{imgPath}}/enjoy-meal.png">
			<h3>Enjoy your meal!</h3>
			<p>Head down to the chef's home while the chef cook from their home kitchen and host you and your friends</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="uppercase">Join our mailing list</h3>
			<form>
				<input type="text">
			</form>
		</div>
	</div>
</div>
