<div class="hero-banner menu-listing-bg">
	<div>
		<h2>“A recipe has no soul, a chef must bring soul to the recipe”</h2>
	</div>
</div><!-- END ingredients-bg -->

<div class="content-container">
	<div class="row">
		<div class="col-sm-3">
			<h4>Filters</h4>
		</div><!-- END filter column -->

		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-6">
					<a class="product-card">
						<div class="image">
							<img src="{{imgPath}}/product-placeholder.png">
						</div>
						<div class="date">20 May 2017, 11.30pm Thu</div>
						<div class="title">Cest La Vie, Mediterranean Cuisine</div>
						<div class="price">$60.00</div>
						<div class="location"><span class="glyphicon glyphicon-map-marker"></span>Singapore, Yishun</div>

						<div class="tags">
							<div>Mediterranean</div>
							<div>Gluten Free</div>
							<div>Dairy Free</div>
						</div>
						<div class="chef">
							<img src="{{imgPath}}/gordon.png">
							<p>Chef Gordon</p>
						</div>
					</a><!-- END product-card -->
				</div>
			</div><!-- END listing row -->
		</div><!-- END listing column -->
	</div><!-- END main row -->
</div><!-- END content-container -->
