<div class="content-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="menu-details">
        <div class="image menuCarousel">
          <div><a href="#menu-details" ><img src="{{imgPath}}/product-placeholder.png" width="100%"></a></div>
          <div><a href="#menu-details" ><img src="{{imgPath}}/product-placeholder2.jpg" width="100%"></a></div>
        </div>
        <div class="content">
          <div>
            <h3>3-Course Italian Meal</h3>
          </div>
          <div>
            <h4>Mezcal daisy</h4>
            <p>Beverage</p>
            <p>A mezcal play on the classic margarita.<br/>mezcal | triple sec | lime | chili salt rim</p>
          </div>
          <div>
            <h4>Charred Cesar salad</h4>
            <p>Small Plate<br/>charred baby romaine | roasted jalapeno caesar dressing | crispy shallot | queso duro | tobiko</p>
          </div>
          <div>
            <h4>Mezcal daisy</h4>
            <p>Beverage</p>
          </div>
        </div>
      </div>
    </div><!-- END of left -->
    <div class="col-sm-6">
      <div class="chef-details">
        <img src="{{imgPath}}/gordon.png">
        <h4>Chef Gordon Ramsay</h4>
        <p>Lorem ipsum dolor sit amet, ea accusata argumentum sit, nec laudem persecuti eu. Intellegam complectitur vis ne, per virtute scriptorem eu. Hinc phaedrum.Lorem ipsum dolor sit amet, ea accusata argumentum sit, nec laudem persecuti eu. Intellegam complectitur vis ne, per virtute scriptorem eu. Hinc.</p>
        <hr/>
        <div class="tags">
          <a href="#menu">Mediterranean</a>
          <a href="#menu">Gluten-free</a>
          <a href="#menu">Dairy free</a>
        </div>
        <hr/>
        <p>Price per guest: $60.00</p>
        <p>Location: Singapore, Yishun</p>
        <p>Minimum Reservation Size: 5 guest</p>
        <p>Maximum Reservation Size: 12 guest</p>
        <hr/>
        <form>
          <label>Check Availability</label>
          <select class="form-control">
            <option>20 May 2017, 1130pm, Thu</option>
          </select>
          <br/>
          <label>No. of guest</label>
          <div class="input-group" min="1" style="width: 130px;">
            <span class="input-group-btn" ng-click="minus()">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <input type="text" class="form-control text-center ng-pristine ng-valid" ng-model="guest" ng-readonly="true" readonly="readonly" min="1">
            <span class="input-group-btn" ng-click="plus()">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
          <br/>
          <a href="#/checkout" class="mc-btn black-btn mBottom20">Reserve Now</button>
          <a href=""><p class="small">+ Add allergies notes</p></a>
        </form>
      </div><!-- END chef-details -->
    </div><!-- END of right -->
  </div>
</div>

<script>
  $('.menuCarousel').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1
  });
</script>
