<div class="content-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="menu-details">
        <div class="image">
          <img src="{{imgPath}}/product-placeholder.png">
        </div>
        <div class="content">
          <div>
            <h4>Mezcal daisy</h4>
            <p>Beverage</p>
            <p>A mezcal play on the classic margarita.<br/>mezcal | triple sec | lime | chili salt rim</p>
          </div>
          <div>
            <h4>Charred Cesar salad</h4>
            <p>Small Plate<br/>charred baby romaine | roasted jalapeno caesar dressing | crispy shallot | queso duro | tobiko</p>
          </div>
          <div>
            <h4>Mezcal daisy</h4>
            <p>Beverage</p>
          </div>
        </div>
      </div>
    </div><!-- END of left -->
    <div class="col-sm-6">
      <div class="chef-details">
        <img src="{{imgPath}}/gordon.png">
        <h4>Chef Gordon Ramsay</h4>
        <p>Lorem ipsum dolor sit amet, ea accusata argumentum sit, nec laudem persecuti eu. Intellegam complectitur vis ne, per virtute scriptorem eu. Hinc phaedrum.Lorem ipsum dolor sit amet, ea accusata argumentum sit, nec laudem persecuti eu. Intellegam complectitur vis ne, per virtute scriptorem eu. Hinc.</p>
        <hr/>
        <div class="tags">
          <a>Mediterranean</a>
          <a>Mediterranean</a>
          <a>Mediterranean</a>
        </div>
        <hr/>
        <p>Price per guest: $60.00</p>
        <p>Location: Singapore, Yishun</p>
        <p>Minimum Reservation Size: 5 guest</p>
        <p>Maximum Reservation Size: 12 guest</p>
        <hr/>
        <form>
          <label>Check Availability</label>
          <select class="form-control">
            <option>20 May 2017, 1130pm, Thu</option>
          </select>
          <br/>
          <label>No. of guest</label>
          <input type="number" class="form-control">
          <br/>
          <button type="submit" class="mc-btn black-btn">Reserve Now</button>
        </form>
      </div><!-- END chef-details -->
    </div><!-- END of right -->
  </div>
</div>
