<div class="content-container">
  <div class="profile-header">
    <h1>Reservation History</h1>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="order-card">
        <h4>Order Number: M17 1111 1111</h4>
        <div class="date">
          <span class="strong">Submitted on:</span> 22 Feb 2016, 8:55pm
        </div>
        <div class="menu">
          <div class="row">
            <div class="col-sm-4">
              <img src="{{imgPath}}/food.jpg" class="img-responsive">
            </div>
            <div class="col-sm-8">
              <p class="menu-title lead">Cest La Vie, 3 Course Meal</p>
              <table class="table table-condensed mBottom0">
                <tr>
                  <td>Time slot:</td>
                  <td>20 May 2017, 1130pm, Thu</td>
                </tr>
                <tr>
                  <td>Guest</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>Singapore, Yishun</td>
                </tr>
              </table>
            </div>
          </div>
        </div><!-- END of menu -->
        <div class="price">
          <div class="row">
            <div class="col-md-4 hide-mobile"></div>
            <div class="col-md-8 col-sm-12">
              <table class="table table-condensed mBottom0">
                <tr>
                  <td>Menu:</td>
                  <td class="text-right">$320.00</td>
                </tr>
                <tr>
                  <td>minichef Service Fee:</td>
                  <td class="text-right">$48</td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td class="text-right">$368.00</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="button">
          <hr/>
          <a href="#" class="mc-btn black-btn">Download Receipt</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
