<div class="content-container profile-body">
  <div class="profile-header">
    <h1>My Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <ul class="profile-sidebar">
        <li class="active"><a href="#profile">Profile</a></li>
        <li><a href="#history">Reservation History</a></li>
      </ul>
    </div><!-- END col-sm-3 -->
      <div class="col-sm-9">
        <div class="row">
          <form>
            <div class="col-sm-4">
              <input type="file">
            </div><!-- END col-sm-3 -->
            <div class="col-sm-8">
              <table class="profile-table table">
                <tr>
                  <td colspan="2"><a class="btn black-btn" style="float:right;">Edit</a></td>
                </tr>
                <tr>
                  <td>First Name:</td>
                  <td>Tan</td>
                </tr>
                <tr>
                  <td>Last Name:</td>
                  <td>Jess</td>
                </tr>
                <tr>
                  <td>Email Address:</td>
                  <td>jess_tjl@hotmail.com</td>
                </tr>
                <tr>
                  <td>Mobile Number:</td>
                  <td>91165476</td>
                </tr>
                <tr>
                  <td>Gender:</td>
                  <td>Female</td>
                </tr>
                <tr>
                  <td>Birthday:</td>
                  <td>26/04/1994</td>
                </tr>
                <tr>
                  <td>Accepts Marketing:</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Password:</td>
                  <td>********</td>
                </tr>
                <tr><td colspan="2"><hr/></td></tr>
                <form>
                  <tr>
                    <td>Old Password</td>
                    <td><input type="text" class="form-inline"></td>
                  </tr>
                  <tr>
                    <td>New Password</td>
                    <td><input type="text" class="form-inline"></td>
                  </tr>
                  <tr>
                    <td>Retype New Password</td>
                    <td><input type="text" class="form-inline"></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <button type="submit" class="btn black-btn">Update Password</button>
                    </td>
                  </tr>
                </form>
              </table>
            </div><!-- END col-sm-6 -->

          </form>
          <div class="col-sm-4"></div>
          <div class="col-sm-8">

          </div>
        </div>
      </div>
  </div><!-- END row -->
</div><!-- END content-container -->
